@font-face {
    font-family: 'HOMEVIDEO';
    src: url(public/HomeVideo.ttf);
}

*{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=111497),pointer;
}

a{    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=111529),pointer;
}

h1,h2,a{
    font-family: HOMEVIDEO;
}

nav span, nav svg{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=111512),pointer;
}