@font-face {
    font-family: 'HOMEVIDEO';
    src: url(public/HomeVideo.ttf);
}


h1,h2,a{
    font-family: HOMEVIDEO;
}

*{
    cursor: url(public/CursorsXP.cur), default;
}


input, p{
    cursor: text;
}

nav svg, nav path, nav img, a{
    cursor: url(public/Cursor_Hand_Pointer.cur),pointer;
}

nav span{    cursor: url(public/help_win95.cur),pointer;
}

img{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✨</text></svg>"),pointer;
}

